<div id="footer">
  <div class="container">
    <p class="muted credit">
      Website made by: Jonah Perelman
      <br />
      Our Instagram Page:
      <a href="https://www.instagram.com/randolphsga/?hl=en">
        <i class="demo-icon icon-instagram">&#xf16d;</i>
      </a>
    </p>
  </div>
</div>
