<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title>SGA</title>
  </head>
  <body>

    <div id="wrap">
      <% include ../partials/header.ejs %>
      <div class="container">
        <div class="page-header">
            <h1>
              Welcome to the Randolph SGA
              <small>Lorem ipsum dolor</small>
            </h1>
        </div>
        <% include ../partials/sidebar.ejs %>
        
        <div class="col-md-8">
          <h4><%= event.Event %></h4>
          <p>Date: <%= event.Date %></p> <br />
          <p>Preview: <%= event.Descp %></p> <br />
          <p>Price: <%= event.Fee %></p> <br />
        </div>
        <div id="push"></div>
      </div>

      <% include ../partials/footer.ejs %>
    </div>




    <% include ../partials/scripts.ejs %>
  </body>
</html>
