<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title>SGA</title>
  </head>
  <body>

    <div id="wrap">
      <% include ../partials/header.ejs %>
      <div class="container">
        <div class="page-header">
            <h1>
              Welcome to the Randolph SGA
              <small>Lorem ipsum dolor</small>
            </h1>
        </div>
        <% include ../partials/sidebar.ejs %>
        <div class="col-md-8">
          <div id="faq" class="col-md-9">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                      href="#collapse-1">
                    How do i Join the SGA?
                    </a>
                  </h4>
                </div>
                <div id="collapse-1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Firstly get parent premission. Then confirm with your homeroom teacher/ student rep. when the next meeting occurs. Then go to the next meeting
                    </p>
                    <!-- <p>beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                      probably haven't heard of them accusamus labore sustainable VHS.
                    </p> -->
                  </div>
                  <div class="panel-footer">
                    <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                    <!-- <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div> -->
                  </div>
                </div>
              </div>


              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                      href="#collapse-2">
                    What is your next event?
                    </a>
                  </h4>
                </div>
                <div id="collapse-2" class="panel-collapse collapse">
                  <div class="panel-body">
                    Go to the <a href="/">Homepage</a> and view the upcoming events
                  </div>
                  <div class="panel-footer">
                    <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                    <!-- <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div> -->
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                      href="#collapse-3">
                      What do you do in the SGA?
                    </a>
                  </h4>
                </div>
                <div id="collapse-3" class="panel-collapse collapse">
                  <div class="panel-body">
                    We do events, fundraisers, and develop a fun environment.
                  </div>
                  <div class="panel-footer">
                    <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                    <!-- <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div> -->
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                      href="#collapse-4">
                      When does the SGA meet?
                    </a>
                  </h4>
                </div>
                <div id="collapse-4" class="panel-collapse collapse">
                  <div class="panel-body">
                    Almost every Thursday
                  </div>
                  <div class="panel-footer">
                    <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                    <!-- <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div> -->
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                      href="#collapse-5">
                      What are the benefits of joining the SGA?
                    </a>
                  </h4>
                </div>
                <div id="collapse-5" class="panel-collapse collapse">
                  <div class="panel-body">
                    Helping out the SGA
                  </div>
                  <div class="panel-footer">
                    <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                    <!-- <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div> -->
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                      href="#collapse-6">
                      What is the SGA?
                    </a>
                  </h4>
                </div>
                <div id="collapse-6" class="panel-collapse collapse">
                  <div class="panel-body">
                    It is a <b>student</b> ran goverment. The SGA elections occur every fall.
                  </div>
                  <div class="panel-footer">
                    <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                    <!-- <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div> -->
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                      href="#collapse-7">
                      How many members do you have?
                    </a>
                  </h4>
                </div>
                <div id="collapse-7" class="panel-collapse collapse">
                  <div class="panel-body">
                    We average 20 members and 10 members a meeting
                  </div>
                  <div class="panel-footer">
                    <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                    <!-- <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div> -->
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                      href="#collapse-8">
                      How long is a meeting?
                    </a>
                  </h4>
                </div>
                <div id="collapse-8" class="panel-collapse collapse">
                  <div class="panel-body">
                    A meeting is the same amount of time as a after school club. It occurs for a hour and 10 minutes starting at 3:05 and ending at 4:15                  </div>
                  <div class="panel-footer">
                    <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                    <!-- <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div> -->
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                      href="#collapse-9">
                      How can I go home after a meeting?
                    </a>
                  </h4>
                </div>
                <div id="collapse-9" class="panel-collapse collapse">
                  <div class="panel-body">
                    You can take the late bus or your parents can take you home.
                  </div>
                  <div class="panel-footer">
                    <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                    <!-- <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <p class="lead">Useful tips</p>
            <div class="list-group">
              <a href="#" class="list-group-item">Complement someone it'll make their day!</a>
              <a href="#" class="list-group-item">Bring a peson everywhere you go</a>
              <a href="#" class="list-group-item">Be ready to help others</a>
            </div>
          </div>
        </div>

        <div id="push"></div>
      </div>

      <% include ../partials/footer.ejs %>
    </div>




    <% include ../partials/scripts.ejs %>
  </body>
</html>
